html {
  font-family: sans-serif;
  font-size: 16px;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color: #222222;
}

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,h2, p, h3, h4 ,h5 ,h6 {
  color: #f8f8f8;
}

.my-30 {
  margin: .40rem 0rem;
}